@import 'variables.styl'
// Template for font
//
//@font-face {
//	font-family: 'FONTNAME';
//	src: url(pathToFonts+'/FONTNAME/FONTNAME.eot');
//	src: url(pathToFonts+'/FONTNAME/FONTNAME.eot?#iefix') format('embedded-opentype'),
//		url(pathToFonts+'/FONTNAME/FONTNAME.otf') format('opentype'),
//		url(pathToFonts+'/FONTNAME/FONTNAME.woff2') format('woff2'),
//		url(pathToFonts+'/FONTNAME/FONTNAME.woff') format('woff'),
//		url(pathToFonts+'/FONTNAME/FONTNAME.ttf') format('truetype'),
//		url(pathToFonts+'/FONTNAME/FONTNAME.svg#gt_haptik_regularregular') format('svg');
//	font-weight: 500;
//	font-style: normal;
//}
