// Mixins
//
// Convernted from less by less2stylus
// Edited by Paul Mikhalev
// --------------------------------------------------


// UTILITY MIXINS
// --------------------------------------------------

// Sizing shortcuts
// -------------------------
size(height, width)
  width: width
  height: height

square(size)
  size(size, size)

// Размер блока из массива "width height"
blockSize(arr)
  width: extract(arr, 1)
  height: extract(arr, 2)

// Placeholder text
// -------------------------
placeholder(color=placeholderText)
  &:-moz-placeholder
    color: color
  &:-ms-input-placeholder
    color: color
  &::-webkit-input-placeholder
    color: color

// Text overflow
// -------------------------
// Requires inline-block or block for proper styling
textOverflow()
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

// CSS image replacement
// -------------------------
// Source: https://github.com/h5bp/html5-boilerplate/commit/aa0396eae757
hideText()
  font: 0/0 a
  color: transparent
  text-shadow: none
  background-color: transparent
  border: 0

// Resize anything
resizable(direction)
  resize: direction
  overflow: auto

// Растягивает блок на весь экран. Учитывает тулбары на мобильных.
fullScreen()
  width: auto !important
  height: auto !important
  position: fixed !important
  top: 0 !important
  left: 0 !important
  right: 0 !important
  bottom: 0 !important
  overflow: hidden


// Скрытие текста, не исключая его из потока данных экранных читалок (аналог alt для картинок)
// возможно не хватает еще пары правил
onlyScreenReader()
  width: 1px
  height: 1px
  margin: -1px
  position: absolute
  clip: rect(1px,1px,1px,1px)
