// Paths
$pathToImg = "../../images/"
$pathToFonts =  "../../fonts/"

// Colors
$colorPrimary = #FF5722
$colorDPrimary = #E64A19
$colorLPrimary = #FFCCBC
$colorAccent = #FF9800
$colorText = #FFFFFF
$colorPText = #212121
$colorSText = #757575
$colorDivider = #BDBDBD

// Sizes
$heightHeader = 4.7rem
$heightFooter = 7.9rem

// Fonts
$reservedFonts = sans-serif
$fontPrimary = 'Roboto', $reservedFonts
