// Дополнительные стили уровня проекта (все что кроме блоков и глобальных стилей)

.divider
  border-bottom: 1px solid $colorDivider
  margin: 2rem auto
  width: 75%

.container
	position: relative
	max-width: 135rem
	margin: 0 auto


.btn
  background-color: $colorPrimary
  color: $colorText
  cursor: pointer
  font-size: 2.2rem
  line-height: 2.5rem
  padding: 1rem 2rem
  transition: background-color .4s

  &:hover
    background-color: $colorAccent
